
<section id="etage1">

		<div></div>  
                
                <nav id="menuSecondaire" class="container"> 
                    <ul>
                {% for site in rubriques %}
       
                        {% for rub in site.rubriques %} {# actif active #}
                            
                            {#
                                {% if rub.url == 'soleil_agenda_evenement_site' %}{% set route = 'soleil_inscription_accueil'%}{% endif%}
                                {% if rub.url == 'soleil_inscription_paiement_details' %} {% set route = 'soleil_inscription_accueil'%}{% endif%}
                                {% if rub.url == 'soleil_inscription_paiement_cancel' %} {% set route = 'soleil_inscription_accueil'%}{% endif%}
                                {% if rub.url == 'soleil_inscription_paiement_return' %} {% set route = 'soleil_inscription_accueil'%}{% endif%}
                            #}
                               <li class="grid_2 animationLi push_li Li{{loop.index}} {% if rub.url == route %}actif{%endif%}">
					<a href="{{ path(rub.url) }}" class="menu{{loop.index}} {% if rub.url == route %}active{%endif%}"></a>
				</li>

                        {% endfor %} 

                 {% endfor %} 
                            	</ul>
		</nav>
		
                
                

	<!--=================Pour que l'on puisse cliquer===================-->
<nav id="menuSecondaireBis" class="container"> 
			<ul>
        {% for site in rubriques %}
       
                        {% for rub in site.rubriques %}

                               
                               <li class="grid_2 animationLi push_li {% if rub.url == route %}actif{%endif%}">
					<a href="{{ path(rub.url) }}" class="menu{{loop.index}} {% if rub.url == route %}active{%endif%}">{{ rub.nomFr }}</a>
				</li>
                        {% endfor %} 

                 {% endfor %} 
                        	</ul>
		</nav>       

		
</section>

