{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}

    <div class="row">
        
          <div class="col-lg-12">
            <h1>Données personel</h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('soleil_sous_site_accueil_admin') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
              <li class="active"><i class="fa fa-gear"></i> Données personel</li>
            </ol>
          </div>
        
  </div><!-- /.row -->
  
  <div class="row">
      
        <div class="col-lg-7">
            
            <h2>Données personelles</h2>
            
            {####################}   
            


            <div class="table-responsive">
              <table class="table table-hover table-striped ">
                  
                <thead>
                  <tr>
                    <th>Données personelles</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                
                <tbody>

                             
                     <tr>
                              
                          <td>FaceBook</td> 
                          <td>{{ conf.facebook }}</td>
                          <td><a href="{{ path('soleil_config_modifier_admin') }}">Modifier</a></td>
                     </tr>

                     <tr>
                              
                          <td>Twitter</td> 
                          <td>{{ conf.twitter }}</td>
                          <td><a href="{{ path('soleil_config_modifier_admin') }}">Modifier</a></td>
                     </tr>
                     
                     <tr>
                              
                          <td>Likedln</td> 
                          <td>{{ conf.likedln }}</td>
                          <td><a href="{{ path('soleil_config_modifier_admin') }}">Modifier</a></td>
                     </tr>
                     
                        
                   
                </tbody>
                
              </table>
            </div>   

            {####################}
            
          </div>
      
        </div><!-- /.row -->

{% endblock %}