{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}
    
    <div class="row">
        
          <div class="col-lg-12">
            <h1>Réalisation</h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Accueil</a></li>
              <li class="active"><i class="fa fa-table"></i> Réalisation</li>
            </ol>
          </div>
        
  </div><!-- /.row -->

  <div class="row">
      <div class="col-lg-12">
        <a href="{{ path('soleil_realisation_ajouter_admin') }}">Ajouter une réalisation</a>
      </div>
  </div>
  
  <div class="row">
      
        <div class="col-lg-6">
            
            <h2>Listes des réalisations</h2>
                      
            <div class="table-responsive">
              <table class="table table-hover table-striped ">
                  
                <thead>
                  <tr>
                    <th>Réalisations</th>
                    <th>Vendu</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                
                <tbody>

                   {% for r in realisation %}
                  
                        <tr>
                            
                            <td><a href="{{ path('soleil_realisation_voir_admin', {'slug': r.slug} ) }}">{{ r.titreFr}}</a></td>
                            
                            <td>
                                {% if r.vendu%}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            
                            <td></td>
                            <td><a href="{{ path('soleil_realisation_modifier_admin', {'slug': r.slug} ) }}">Modifier</a></td>
                            <td><a href="{{ path('soleil_realisation_supprimer_admin', {'slug': r.slug} ) }}">Supprimer</a></td>
                        </tr>
                        
                   {% endfor %}
                  
                </tbody>
                
              </table>
            </div>   
            
          </div>
      
        </div><!-- /.row -->

{% endblock %}