{% extends "::SousSite/Admin/baseAdmin.html.twig" %}

{% block content %}
        
    <div class="row">
        
          <div class="col-lg-12">
            <h1>Formation</h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('soleil_sous_site_accueil_admin') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
              <li><a href="{{ path('soleil_formation_accueil_admin') }}"><i class="fa fa-align-justify"></i> Formation</a></li>
              <li class="active">Voir</li>
            </ol>
          </div>
        
  </div><!-- /.row --> 
    
   <a href="{{ path('soleil_formation_modifier_admin', {'slug':formation.slug}) }}">Modifier</a> 
   <a href="{{ path('soleil_formation_supprimer_admin', {'slug':formation.slug}) }}">supprimer</a><br/>
    
    <br/><br/>
    
    creat : {{ formation.datecreat|date("m/d/Y") }} <br/> 
    modife : {{ formation.dateEdition|date("m/d/Y") }} <br/> 
    {# <img src="{{ asset(formation.image.webPath) }}" alt="{{ formation.image.alt }}" /> <br/> #}
    
    {{ formation.TitreFr }} <br/>
    {{ formation.textFr|raw }} 
    {{ formation.TitreEn }} <br/>  
    {{ formation.textEn|raw }}  

{% endblock %}