<!DOCTYPE HTML>
<html lang="fr">
<head>
	<title>Avec le soleil - EFT - Céramique - Analphabétisation</title>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width; intitial-scale=1.0" />-->
	<!--FEUILLE DE STYLE-->
	<link rel="stylesheet" type="text/css" href="{{ asset('site/chapeaux/style.css') }}" /> 
	<!--POLICES-->
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<!--960 GRID et RESPONSIVE-->
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ asset('site/chapeaux/css/grid.css') }}"> 

	<script src="{{ asset('site/chapeaux/js/modernizr-2.6.2.min.js') }}"></script>
</head>


<body>

<section id="principale" class="container">
	
	
	<header class="container">
		<a id="lienChapeau" href="#" title="Page d'accueil de Avec le Soleil a.s.b.l">
			<h1>Avec le soleil - EFT - Céramique - Analphabétisation</h1>
		</a>
	</header>
	
<div class="clear"></div>

	<section class="containerBis">
		<nav id="menuPrincipal">
			<ul>
				<li id="li1" class="grid_2 alpha omega">
					<div class="shape">
						<p class="overlay" id="forme1"></p>
						<div class="details">
							<span class="heading">EFT</span><hr />
							<p>Entrez en harmonie</p>		
							<a href="http://www.eft.com" class="button">VOIR</a>
						</div>
						<div class="bg"></div>
						<figure>
							<img src="{{ asset('site/chapeaux/img/eft_avec-le-soleil.jpg') }}" alt="EFT avec le soleil asbl" />
						</figure>
					</div>		
				</li>

				<li id="li2" class="grid_2 alpha omega">
					<div class="shape">
						<p class="overlay" id="forme2"></p>
						<div class="details">
							<span class="heading">CERAMIQUE</span><hr />
							<p>Augmentez votre créativité</p>		
							<a href="http://www.ceramique.com" class="button">VOIR</a>		
						</div>
						<div class="bg"></div>	
						<figure>
							<img src="{{ asset('site/chapeaux/img/ceramique_avec-le-soleil.jpg') }}" alt="ceramique avec le soleil asbl" />
						</figure>
					</div>	
				</li>

				<li id="li3" class="grid_2 alpha omega">
					<div class="shape">
						<p class="overlay" id="forme3"></p>
						<div class="details">
							<span class="heading">ANALPHABETISATION</span><hr />
							<p>Apprenez à lire et à écrire</p>		
							<a href="http://www.alpha.com" class="button">VOIR</a>		
						</div>
						<div class="bg"></div>
						<figure>
							<img src="{{ asset('site/chapeaux/img/analphabetisation_avec-le-soleil.jpg') }}" alt="analphabetisation avec le soleil asbl" />
						</figure>  
					</div>	
				</li>
			</ul>
		</nav>
	</section>



		
	<footer id="pied" class="container">
		<p>Document fait en HTML5 et CSS3 - &copy; Design réalisé par <strong><a href="http://about.me/acyian.art">Rey Emilie</a></strong> - Developpement réalisé par <strong><a href="#">Vanessa Verschoren</a></strong> & <strong><a href="#">Patricia Mestdag</a></strong> - 2014</p>
	</footer>

</section>

</body>

</html>