<section>
{% for  av in articlesVideo %}
    
     {% if loop.index == 1 %}

        <h2>Vidéos</h2>

      {% endif %}
  
    <article id="article{{loop.index}}" class="grid_4bis alpha{{loop.index}} omega{{loop.index}}">
        <h3>{{ av.titreFr }}</h3> 
        <iframe width="298" height="200" src="{{ av.video }}" allowfullscreen class="grid_4bis alpha omega"></iframe>
        {{ av.textFr|raw }} 
    </article>
    
{% endfor %}

{% for  av in articlesVideo %}
        {% if loop.index == 1 %}
 <p class="toutes-videos"><a href="{{ path('soleil_article_voir_plus',{'voirplus':'articleVideo'}) }}">voir + de vidéos</a></p>
 {% endif %}
{% endfor %}
</section>

<section>
{% for  a in articles %}

    {% if loop.index == 1 %}

        <h2>Articles</h2>

      {% endif %}
        
    <article id="article{{loop.index}}" class="grid_4bis alpha{{loop.index}} omega{{loop.index}}">
        <h3>{{ a.titreFr }}</h3> 
        {{ a.textFr|raw }}
    </article>
        
{% endfor %}

{% for  a in articles %}
        {% if loop.index == 1 %}
 <p class="toutes-videos"><a href="{{ path('soleil_article_voir_plus',{'voirplus':'article'}) }}">voir + d'article</a></p>
 {% endif %}
{% endfor %}
</section>



