{#DESCRIPTION :       
     liste des articles

    Nom du Bundle: soleilArticleBundle
    Controller: Article
    Action    : voiplus
    ----------------------------------------------

    A INTEGRER : 
        extends "::SousSite/base.html.twig"

    POUR LE LIENS:
    Route: soleil_article_voir_plus
          

    VARIABLES DISPONIBLES:
        - article: array :  article
                     propriétés : id, titreFr, titreEn, textFr, textEn, date, dateEdition, slug, site_id, image_id, video
                     

    ----------------------------------------------                
    POUR TESTER : www.eft.com/article/{voirplus}
    ----------------------------------------------
#}

{% extends "::SousSite/base.html.twig" %}

{% block content %}

<section id="articles_avec-videos" class="container">
    
{% if voirplus == 'article' %}

    <h3>Article</h3>
    
    {% set i = 1 %}
    
    {% for  a in articles %}
        
        {% if i == 4 %} {% set i=1 %} {% endif %}
    
        <article id="article{{i}}" class="grid_4bis alpha{{i}} omega{{i}}">
            <h3>{{ a.titreFr }}</h3> 
            {{ a.textFr|raw }}
        </article>

        {% set i = i + 1 %}
    
    {% endfor %}
        
{% else %}
    
    <h3>Article vidéo</h3>
    
    {% set i = 1 %}
    
    {% for  a in articles %} 

        {% if i == 4 %} {% set i=1 %} {% endif %}
    
        {% if a.video is not null %}
            <article id="article{{i}}" class="grid_4bis alpha{{i}} omega{{i}}">
                <h3>{{ a.titreFr }} - {{i}}</h3> 
                <iframe width="298" height="200" src="{{ a.video }}" allowfullscreen class="grid_4bis alpha omega"></iframe>
                {{ a.textFr|raw }} 
            </article>
        {% endif %}
        
        {% set i = i + 1 %}
    
    {% endfor %}
        
{% endif %}

</section>

{% endblock %}


